body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #555;
}

a {
  color: #555;
}

a:hover {
  color: #000;
}

p {
  margin: 10px 0;
}

div.content {
  margin: 0 auto 50px;
  padding: 20px;
  max-width: 800px;
}

h1 {
  margin: 30px 0 10px;
  color: #000;
}

h2 {
  margin: 30px 0 10px;
  font-size: 16px;
  color: #000;
}

div.footer {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0;
  padding: 10px 0;
  border-top: 1px solid #eee;
}

div.chart {
  margin: 10px 0;
}

div.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px; /* Height of the slider thumb. */
}

div.slider-container input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 2px;
  background: #eee;
  border-radius: 100px;
  outline: none;
  cursor: pointer;
}

div.slider-container input[type="range"]:hover {
  background: #03a9f4;
}

div.slider-container input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: #fff;
  border: 2px solid #eee;
  border-radius: 100px;
}

div.slider-container input[type="range"]:hover::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
  border-color: #03a9f4;
}

.chart-svg {
  background: #fafafa;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.grid {
  stroke-width: 0;
}

.grid line {
  stroke-width: 1px;
  stroke: #eee;
}

.axis-text {
  fill: #000;
}

.path-line {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5;
}

.path-price {
  stroke: #ccc;
  stroke-width: 1;
}

.path-forward-min-price {
  stroke: #03a9f4;
}

.path-regression {
  stroke: #00ff0a;
  opacity: 0.3;
}

.path-regression-std-dev {
  stroke: #ff0000;
  opacity: 0.2;
}

div.data-points {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

div.data-points > div {
  flex-basis: 100%;
  margin-right: 10px;
  padding: 15px;
  background: #fafafa;
  border: 1px solid #eee;
}

div.data-points > div:last-child {
  margin: 0;
}

div.data-points > div h3 {
  margin: 0 0 10px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

div.data-points table {
  width: 100%;
}

div.data-points tr:last-child {
  border: none;
}

div.data-points tr.expected {
  font-weight: bold;
  color: #03a9f4;
}

div.data-points tr.deviation {
  color: #ff0000;
  opacity: 0.6;
}

div.data-points td {
  padding: 10px 0;
  font-size: 14px;
  border-bottom: 1px dotted #ddd;
}

div.data-points td:last-child {
  text-align: right;
}

div.data-points tr:last-child td {
  border: none;
}
