body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #555;
}

a {
  color: #555;
}

a:hover {
  color: #000;
}

p {
  margin: 10px 0;
}

div.content {
  margin: 0 auto;
  padding: 20px;
  max-width: 800px;
  min-width: 300px;
}

h1 {
  margin: 30px 0 10px;
  color: #000;
}

h2 {
  margin: 30px 0 10px;
  font-size: 16px;
  color: #000;
}

div.description {
  position: relative;
  font-size: 16px;
  line-height: 1.6em;
  /*border: 1px solid #ccc;*/
  background: #fafafa;
  border-radius: 3px;
}

div.description div.inner {
  padding: 10px 30px;
}

div.description div.quote {
  position: absolute;
  padding-top: 20px;
  top: 0;
  left: 0;
  width: 30px;
  text-align: center;
  font-size: 50px;
  opacity: 0.25;
}

p.last-line {
  margin: 60px 30px 20px;
  font-size: 18px;
  font-weight: bold;
  line-height: 1.7em;
  text-align: center;
}

a.original-article {
  display: block;
  margin: 20px auto 60px;
  padding: 20px;
  width: 270px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #555;
  border-radius: 5px;
  outline: none;
}

a.original-article:focus,
a.original-article:hover {
  border-color: #000;
}

div.footer {
  display: flex;
  justify-content: space-between;
  margin: 30px 0 0;
  padding: 10px 0;
  border-top: 1px solid #eee;
}

div.footer p.true-til-not span.take-a-while {
  display: none;
  color: #bbb;
}

div.footer p.true-til-not:hover span.take-a-while {
  display: inline;
}

div.chart-header {
  display: flex;
  align-items: center;
  margin: 30px 0 10px;
}

div.chart-header h2 {
  margin: 0;
}

.chart-data {
  visibility: hidden;
}

.chart-data .price {
  color: #555;
}

.chart-data .forward-minimum {
  color: #03a9f4;
}

.chart-data .expected {
  color: #ff699c;
}

.chart-data .deviation {
  color: #ff699c;
  opacity: 0.66;
}

div.chart-data-top {
  flex-grow: 1;
  display: flex;
  justify-content: space-between;
  margin-left: 20px;
  font-size: 14px;
  color: #888;
}

div.chart-data-top span {
  margin-right: 10px;
  font-weight: bold;
}

div.chart-data-top span:last-of-type {
  margin: 0;
}

div.chart-wrapper {
  position: relative;
}

table.chart-data-overlay {
  display: none;
  position: absolute;
  top: 6%;
  left: 13%;
  font-size: 12px;
}

table.chart-data-overlay td:last-child {
  padding-left: 10px;
  width: 80px;
  font-weight: bold;
  text-align: right;
}

div.chart {
  margin: 10px 0;
}

div.chart-loading {
  position: relative;
  width: 100%;
  padding-top: 50%;
  background: #fafafa;
  border: 1px solid #eee;
}

div.chart-loading div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}

div.slider-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
  height: 20px; /* Height of the slider thumb. */

  position: relative;
  margin: 20px auto;
  width: 200px;
}

input.chart-range {
  -webkit-appearance: none;
  appearance: none;
  width: 200px;
  height: 3px;
  background: #00da0a;
  border-radius: 100px;
  outline: none;
  cursor: ew-resize;
  opacity: 0.75;
  outline: none;
}

input.chart-range:hover {
  /*background: #03a9f4;*/
  opacity: 1;
}

input.chart-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #fff;
  border: 3px solid #00da0a;
  border-radius: 100px;
}

input.chart-range::after {
  position: absolute;
  display: block;
  width: 10px;
  height: 10px;
  top: 5px;
  left: 124px;
  font-size: 0;
  background: #00da0a;
  border-radius: 10px;
  content: ".";
}

.mouse-overlay {
  fill: none;
  /* Lets this rect detect mouseover events even though it otherwise
     wouldn't when fill=none */
  pointer-events: all;
}

.mouse-line {
  stroke: #00ffcc;
  stroke-width: 2px;
  opacity: 0.5;
}

.mouse-circle {
  r: 4;
  fill: #000;
  stroke-width: 0;
}

.mouse-circle-price {
  fill: #555;
  opacity: 0.5;
}

.mouse-circle-forward-minimum {
  fill: #03a9f4;
}

.mouse-circle-nlb,
.mouse-circle-regression {
  fill: #ff699c;
}

.mouse-circle-deviation {
  fill: #ff699c;
  opacity: 0.3;
}

.chart-svg {
  max-width: 100%;
  background: #fafafa;
  border: 1px solid #eee;
  box-sizing: border-box;
}

.grid {
  stroke-width: 0;
}

.grid line {
  stroke-width: 1px;
  stroke: #eee;
}

.axis-text {
  fill: #000;
}

.path-line {
  fill: none;
  stroke: #000;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 1.5;
}

.path-price {
  stroke: #ccc;
  stroke-width: 1;
}

.path-forward-min-price {
  stroke: #03a9f4;
}

.path-regression {
  stroke: #ff699c;
}

.path-regression-std-dev {
  stroke: #ff699c;
  opacity: 0.3;
}

div.data-points {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  margin: 10px 0;
}

div.data-points > div {
  flex-basis: 100%;
  margin-right: 10px;
  padding: 15px;
  background: #fafafa;
  border: 1px solid #eee;
}

div.data-points > div:last-child {
  margin: 0;
}

div.data-points > div h3 {
  margin: 0 0 10px;
  font-size: 14px;
  color: #000;
  text-transform: uppercase;
}

div.data-points table {
  width: 100%;
}

div.data-points tr:last-child {
  border: none;
}

div.data-points tr.expected {
  font-weight: bold;
  color: #ff699c;
}

div.data-points tr.deviation {
  color: #ff699c;
  opacity: 0.8;
}

div.data-points td {
  padding: 10px 0;
  font-size: 14px;
  text-align: right;
  border-bottom: 1px solid #eee;
}

div.data-points td:first-child {
  text-align: left;
}

div.data-points tr:last-child td {
  padding-bottom: 0;
  border: none;
}
