@media (max-width: 750px) {
  div.chart-data-top {
    display: none;
  }

  table.chart-data-overlay {
    display: block;
  }
}

@media (max-width: 700px) {
  div.data-points {
    flex-direction: column;
  }

  div.data-points > div {
    flex-basis: auto;
    margin: 0 0 10px;
  }
}

@media (max-width: 500px) {
  h1 {
    margin-top: 10px;
  }

  div.content {
    margin-bottom: 0;
  }
}

